{% extends 'SkynWebsiteBundle::layout.html.twig' %}

{% block body %}


  <div class="wrapper"> 
      
      <nav></nav>

      <main>
        <header></header>   

        <article>

          <section>
            
            <h2>You have opted out successfully</h2>

          </section>       

        </article>

        <footer></footer> 
      </main> 

        
      </div>
    </div>


{% endblock %}